* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background:url("nen.jpg") no-repeat center center/cover;
    overflow: hidden;
}

/* Background stars */
.background::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent url("https://www.transparenttextures.com/patterns/stardust.png");
    opacity: 0.4;
}

/* Fake mountain silhouette */
.background::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, #2e0854, transparent);
}

/* Glass login box */
.login-box {
    position: relative;
    width: 320px;
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    color: #fff;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 25px;
}

/* Input */
.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px 35px 10px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.2);
    color: #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s;
    color: #ddd;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -8px;
    font-size: 12px;
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Options */
.options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 20px;
}

.options a {
    color: #fff;
    text-decoration: none;
}

/* Button */
.btn {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #fff;
    color: #6a0dad;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #ddd;
}

/* Register */
.register {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
}

.register a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}